.item {
  color: #000;
  display: flex;
  height: 34px;
  border: 1px solid #cccccc;
  border-radius: 41px;
  padding: 0 10px 0 12px;
  align-items: center;
  margin-bottom: 8px;
}

.item:hover {
  border: 1px solid #356EFF;
}

.item:hover .remove {
  opacity: 1;
}

.done {
  color: #cccccc;
}

.remove {
  background: #fff;
  border-width: 0;
  cursor: pointer;
  height: 16px;
  margin-left: auto;
  opacity: 0;
  padding: 0;
  width: 16px;
}

