.footer {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  width: 90.9%;
}

.counter {
  margin-left: 8px;
}

.filter button,
.clear {
  background: #fff;
  border-radius: 23px;
  border-width: 0;
  cursor: pointer;
  padding-top: 0;
}

.filter button:hover,
.clear:hover {
  background: #356eff;
  color: #fff;
}