.field {
  width: 90.9%;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 98vw;
  height: 34px;
  border: 1px solid #cccccc;
  border-radius: 29px;
  padding: 0 12px;
  margin-right: 8px;
}

.input_error {
  border: 1px solid red;
}

.adder {
  background: url("/public/images/adder.svg") center center no-repeat;
  background-color: #fff;
  border-radius: 50%;
  border-width: 0;
  cursor: pointer;
  padding: 0;
  width: 13%;
}

.error {
  background-color: #356eff;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  padding: 8px 11px 9px 8px;
  position: fixed;
  top: 40px;
}

.error:after,
.error::before {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -5px;
  width: 15.9px;
  height: 15.9px;
  background: #356eff;
  border-radius: 1px;
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .adder {
    width: 16%;
  }
}
